<p>Discover new resource!!!</p>

<%= form_for :project, url: projects_path, method: 'POST' do |form| %>
  <%= form.hidden_field :location_id, value: @location.id %>
  <%= form.hidden_field :project_type_id, value: @project_type_id %>
  <%= form.submit 'Odkrywaj' %>
<% end %>