<% max_index = items.length - 1 %>
<% items.each_with_index do |item, i| %>
  <% if item.is_a? Hash %>
    <span class="link"><a href="<%= item[:link] %>"><%= item[:text] %></a></span>
  <% elsif item == :separator %>
    <span class="divider">-</span>
  <% else %>
    <span class="text"><%= item %></span>
  <% end %>
<% end %>