<h2><%= t 'views.events.index.buildings_here' %></h2>
<% if buildings.any? %>
  <% buildings.each do |item| %>
    <div>
      <%= link_to fa_icon('arrow-right'), location_enter_url(item.id), title: t('views.buildings.enter') %>
      <%= link_to item.display_name(@character), location_name_url(item.id) %>
    </div>
  <% end %>

<% else %>
  <%= t('views.events.index.no_buildings_here') %>
<% end %>