<div class="main">
  <section id="description">
    Character info
  </section>
  <section id="actions">
    Actions
  </section>
  <section id="status">
    <div class="title-bar"><%= t('views.characters.current_state') %></div>
    <table>
      <tr>
        <td><%= t('views.characters.damage') %></td>
        <td><%= @character.damage %>%</td>
      </tr>
    </table>
  </section>
  <section id="skills">
    Skills
  </section>
  <section id="description">
    Name & description
  </section>
</div>