/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require font-awesome
 */

body {
  background-color: var(--light-bronze);
  color: var(--powder-petal);
}

a {
  color: var(--link-color);
  text-shadow: 2px 2px 1px var(--dark-olive);
  text-decoration: none;

  &:hover {
    color: var(--link-color-hover);
  }

  &.highlight {
    background-color: var(--dark-olive);
    padding: 2px 5px;
  }
}

.alert {
  padding: 6px;
  width: 380px;
  text-align: center;
  font-weight: 800;
  margin: 10px auto;
}

.alert-errors,
.alert-error {
  background-color: var(--alert);
  color: var(--dark-olive)
}

.top-bar {
  text-align: center;
  margin: 0 auto;
  width: 1000px;
}

.main {
  text-align: center;
  width: 1000px;
  background-color: var(--dark-bronze);
  color: var(--powder-petal);
}

.header-title {
  text-shadow: 0px 3px 3px var(--dark-olive);
  font-size: 24pt;
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--powder-petal);
}

.header-date,
.user-info,
.header-user {
  color: black;
  text-shadow: 0px 1px 2px var(--powder-petal);
  font-size: 0.75em;
  font-weight: 600;
}

.user-info {
  text-align: center;
  margin: auto;
}

.header-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 2px;
}

.left,
.right {
  flex: 0 1 auto;
}

.title-bar {
  background-color: var(--desert-sand);
  color: var(--dark-olive);
  text-transform: uppercase;
  padding: 4px;
  text-align: center;
  font-size: 1.2em;
  font-weight: 900;
  margin: 6px 0;
}

nav {
  padding: 5px 0;
}

.content {
  display: flex;
  gap: 0;
  align-items: stretch;
}

.content-left {
  flex: 0 0 70%;
  padding: 12px;
  box-sizing: border-box;
}

.content-right {
  flex: 0 0 30%;
  padding: 12px;
  box-sizing: border-box;
}

.row {
  display: flex;
}

.cell.cell-left {
  flex: 0 0 20%;
  text-align: right;
  margin-right: 15px;
  padding: 3px;
}

.cell.cell-right {
  flex: 1 1 70%;
  text-align: left;
  padding: 3px;
}