/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require font-awesome
 */

.alert {
  padding: 6px;
  width: 380px;
  margin: auto;
  text-align: center;
  font-weight: 800;
  margin-top: 12px;
}

.alert-errors {
  background-color: lightcoral;
}

.top-bar {
  text-align: center;
}

.main {
  text-align: center;
}

.header-title {
  text-shadow: 0px 3px 3px #000000;
  font-size: 24pt;
  margin-top: 0px;
  margin-bottom: 0px;
  color: darkkhaki;
}