// Place all the styles related to the Characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main {
  width: 800px;
  margin: auto;
}

.char-action {
  display: inline-block;
  padding: 0 9px;
  border: 1px solid var(--link-color);
  box-shadow: 2px 2px 1px var(--dark-olive);
  margin: 0 4px;
}

.stat {
  position: relative;
  width: 600px;
  height: 20px;
  border: 3px solid var(--dark-olive);
  border-radius: 25px;
  overflow: hidden;
}

.stat-outer {
  position: absolute;
  inset: 0;
}

.stat-inner {
  position: absolute;
  inset: 0 auto 0 0;
  height: 20px;

  &.damage {
    background-color: red;
  }

  &.hunger {
    background-color: blue;
  }
}

.stat-inner-number {
  position: relative;
  color: var(--powder-petal);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: 600;
  font-size: 0.8em;
  pointer-events: none;
  text-shadow: 1px 1px 0 var(--dark-olive);
}