:root {
  --light-bronze: #cb997eff;
  --dark-bronze: #826251ff;
  --desert-sand: #ddbea9ff;
  --powder-petal: #ffe8d6ff;
  --ash-grey: #b7b7a4ff;
  --dry-sage: #a5a58dff;
  --dusty-olive: #6b705cff;
  --dark-olive: #404337ff;
  --alert: #ee527aff;
  --info: #bdf380ff;
  --link-color: #06f3f1ff;
  --link-color-hover: #02c3c1ff;
}