// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.characters {
  border: 1px solid gray;
  margin: auto;
  font-size: 14px;

  td {
    border: 1px solid gray;
    padding: 3px;

    &.center {
      text-align: center;
    }

    &.small {
      font-size: 0.8em;
    }

    &.location {
      width: 38%;
    }
  }
}

.bold {
  font-weight: bold;
}

.fa-venus {
  color: #ff66f0;
  text-shadow: 2px 1px 0px var(--dark-olive);
}

.fa-mars {
  color: #05c1ff;
  text-shadow: 2px 1px 0px var(--dark-olive);
}

.events-count {
  background-color: var(--alert);
  color: var(--dark-olive);
  padding: 1px 5px;
  font-size: 0.7em;
  border-radius: 10px;
  float: right;
}