<nav>
	<%= link_to "Główna", root_path %>

	<% if signed_in? %>
		<%= link_to "Zdarzenia", events_path %>
		<%= link_to "Wróć do listy postaci", list_path %>
		<%= link_to "Wyloguj się", logout_path, method: "delete" %>
	<% end %>
</nav>