<nav>
	<%= link_to t('views.layout.homepage_link'), root_path %>

	<% if signed_in? %>
		<%= link_to t('views.layout.events_link'), events_path %>
		<%= link_to t('views.layout.back_to_char_list'), list_path %>
		<%= link_to t('views.layout.logout'), logout_path, method: "delete" %>
	<% end %>
</nav>