<nav>
	<%= link_to t('views.layout.homepage_link'), root_url, class: 'char-action' %>

	<% if signed_in? %>
		<%= link_to t('views.layout.events_link'), events_url, class: 'char-action' %>
		<%= link_to t('views.layout.back_to_char_list'), list_url, class: 'char-action' %>
		<%= link_to t('views.layout.logout'), logout_url, data: { method: "delete" }, class: 'char-action' %>
	<% end %>
</nav>